/*  ==========================================================================
  1. Column Layout
    ========================================================================== */

.breaking__list {
  @include center(1280px, 0px);

  .breaking__item {
     @include column(1/4);

    @include mq("tablet", max) {
      @include column(1/2, $cycle: 2);
    }

    @include mq("phone-wide", max) {
      @include stack();
    }
  }

  .breaking__item--half-width {
    @include column(1/2, $cycle: 2);
    margin-bottom: 20px;

    @include mq("phone-wide", max) {
      @include stack();
    }

    .breaking__item--half-width__image {
      @include column(2/5);
      background: red;
      height: 120px;

      @include mq("tablet", max) {
        @include stack();
        margin-bottom: 10px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .breaking__item--half-width__content {
      @include column(3/5);
      background: blue;

      @include mq("tablet", max) {
        @include stack();
      }
    }
  }
}


/*  ==========================================================================
  2. Styles
    ========================================================================== */

.breaking {
  border-top: 1px solid $color-ui-light-02;

  &__header {
    position: relative;
    padding-top: 20px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 8px;
      width: 120px;
      display: block;
      background-color: $black;
    }

    &__title {
      margin-bottom: 15px;
    }
  }

  &__header--no-top-tile {
    &::after {
      height: 0px;
    }
  }
}

.breaking__item {
  margin: 10px 0;

  &__title {
    margin-top: 5px;

    a {
      color: $black;

      &:hover {
        color: lighten($black, 50%);
      }
    }
  }
}

.breaking__item__title--large-text {
  font-size: 20px;

  @include mq("tablet", max) {
    font-size: 14px;
  }
}
