.breaking {
  border-top: 1px solid $color-ui-light-02;

  &__header {
    position: relative;
    padding-top: 20px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 8px;
      width: 120px;
      display: block;
      background-color: $black;
    }
  }
}

.breaking__item {
  margin: 10px 0;

  &__title {
    margin-top: 5px;

    a {
      color: $black;

      &:hover {
        color: lighten($black, 50%);
      }
    }
  }
}

.breaking__list {
  @include center(1280px, 0px);

  .breaking__item {
     @include column(1/4);

    @include mq("tablet", max) {
      @include column(1/2, $cycle: 2);
    }

    @include mq("phone-wide", max) {
      @include stack();
    }
  }
}
/*  ==========================================================================
	1. Column Layout
    ========================================================================== */
