/*  ==========================================================================
  1. Column Layout
    ========================================================================== */


/*  ==========================================================================
  2. Styles
    ========================================================================== */

.topic {
  margin: 30px 0;

  &__header {
    position: relative;
    padding-top: 10px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 8px;
      width: 120px;
      display: block;
      background-color: $black;
    }
  }
}
