/*  ==========================================================================
  1. Column Layout
    ========================================================================== */

  .topic-columns {
    @include center(1280px, 0px);

    &--col-04 {
      @include column(4/6);

      @include mq("break-910", max) {
        @include stack();
      }

      &--nested {
        @include column(3/6);

        @include mq("tablet", max) {
          @include stack();
        }
      }
    }

    &--col-02 {
      @include column(2/6);

      @include mq("break-910", max) {
        @include stack();
        margin-top: 20px;
      }

      &--nested {
        @include column(3/6);

        @include mq("tablet", max) {
          @include stack();
          margin-top: 10px;
        }
      }

    }


  }

/*  ==========================================================================
  2. Styles - Main Topic
    ========================================================================== */

.topic-columns--col-02--nested {
  @include mq("tablet", max) {
    margin-bottom: 15px;
  }
}

.topic {
  margin: 30px 0;

  &__header {
    position: relative;
    padding-top: 10px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 8px;
      width: 120px;
      display: block;
      background-color: $black;
    }
  }
}

.topic__header__title {
  margin-bottom: 15px;
}
