/*  ==========================================================================
  1. Column Layout
    ========================================================================== */

.top-story {
  @include center(1280px, 0px);

  &__image {
    @include column(2/5);
  }

  &__details {
    @include column(3/5);
  }
}


/*  ==========================================================================
  2. Styles
    ========================================================================== */

.top-story {
  height: 300px;
  width: 100%;
  margin-top: 15px;
  background: red;

  &__image {
    height: 100%;
    background: blue;
  }

  &__details {
    height: 100%;
    background: yellow;
  }
}
