/*  ==========================================================================
  1. Column Layout
    ========================================================================== */

.nav__main__wrapper {
  @include center(1280px, 40px);

  .nav__main {

    &__date {
      @include column(2/10);
      text-align: left;

      @include mq("break-840", max) {
        @include column(0/10);
        display: none;
      }
    }

    &__list {
      @include column(6/10);
      text-align: center;

      @include mq("break-840", max) {
        @include column(8/10);
      }
    }

    &__weather {
      @include column(2/10);
      text-align: right;
    }
  }
}


/*  ==========================================================================
  2. Styles
    ========================================================================== */

.nav__main {
  position: fixed;
  width: 100%;
  margin-top: 80px;
  padding: 15px 0px;
  z-index: z('navbar');
  border-bottom: 1px solid $color-ui-dark-01;
  background: $color-ui-light-01;
  color: $color-ui-dark-02;
  text-transform: uppercase;
  font-family: 'Arial';

  @include mq("break-840", max) {
    margin-top: 60px;
  }

  &__date {
    padding-top: 3px;
    font-size: 11px;
  }

  &__list {
    li {
      display: inline-block;
      margin-right: 8px;
      font-size: 11px;

      &:last-child {
        margin-right: 0px;
      }
    }

    a {
      padding-bottom: 14px;
      color: $color-ui-dark-02;

      &:hover,
      &:active,
      &focus {
        border-bottom: 4px solid $black;
      }
    }

    .hide-item__two {
      @include mq("tablet-wide", max) {
        display: none;
      }
    }

    .hide-item__one {
      @include mq("break-910", max) {
        display: none;
      }
    }
  }

  &__weather {
    font-size: 15px;
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
      top: 3px;
      right: 70px;
      bottom: 0;
      width: 40px;
      height: 40px;
      background-image: url($weather-icon--mostly-clear);
      background-position: center;
      background-repeat: no-repeat;
      opacity: 1;
    }
  }
}
