/*  ==========================================================================
  1. Column Layout
    ========================================================================== */

.nav__main__wrapper {
  @include center(1280px, 40px);

  .nav__main {

    &__date {
      background: red;
      @include column(1/5);
      text-align: left;
    }

    &__list {
      background: blue;
      @include column(3/5, $gutter: 4);
      text-align: center;
    }

    &__weather {
      background: yellow;
      @include column(1/5, $gutter: 4);
      text-align: right;
    }
  }
}


/*  ==========================================================================
  2. Styles
    ========================================================================== */

.nav__main {
  position: fixed;
  height: 50px;
  width: 100%;
  margin-top: 80px;
  border-bottom: 1px solid $color-ui-dark-01;
  background: $color-ui-light-01;
  text-transform: uppercase;

  &__date {
    font-size: 12px;
  }

  &__list {
    li {
      display: inline-block;
      font-size: 12px;
    }
  }

  &__weather {
    font-size: 12px;
  }
}
