/*  ==========================================================================
  1. Column Layout
    ========================================================================== */

.nav__main {
  @include center(1280px, 0px);

  &__date {
    background: red;
    @include column(1/5);
  }

  &__list {
    background: blue;
    @include column(3/5);
  }

  &__weather {
    background: yellow;
    @include column(1/5);
  }
}


/*  ==========================================================================
  2. Styles
    ========================================================================== */

.nav__main {
  position: fixed;
  height: 50px;
  width: 100%;
  margin-top: 80px;
  border-bottom: 1px solid $color-ui-dark-01;
  background: $color-ui-light-01;
}
