// General global styles.


// Anchor links.
.heading-link {
  font-size: 12px;
  margin-left: 10px;
  color: $color-ui-link-01;

  &:hover {
    color: lighten($color-ui-link-01, 10%);
  }
}


// Article category and time
.article {
  &__title {
    margin: 10px 0px;

    a {
      color: $black;

      &:hover {
        color: lighten($black, 50%);
      }
    }
  }

  &__category {
    margin-right: 10px;
    color: $color-ui-link-02;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      color: lighten($color-ui-link-02, 15%);
    }
  }

  &__time {
    color: $color-ui-dark-01;
    font-size: 12px;
  }

  &__author {
    color: $color-ui-dark-01;

    span {
      color: $color-ui-highlight-01;
      font-weight: 700;
    }
  }

  &__excerpt {
    margin-top: 10px;
    color: $color-ui-dark-01;
  }

  &__image {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}


/********************
 *  List styles
 ********************/
.article__list__title {
  color: $black;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.article__list {
  margin: 0 0 25px 15px;
}

.article__list__item {
  list-style: square;
  margin-bottom: 8px;

  a {
    color: $black;
    font-size: 15px;
    font-weight: 700;

    &:hover {
      color: lighten($black, 50%);
    }
  }
}
