// 1.0 Colour palette.
$bondi-blue: #009ea8;
$cod-grey: #111;

$white: #fff;
$black: #000;

// 2.0 Colours currently being used on the site.
$color-primary: $bondi-blue;
$color-background-dark: $cod-grey;
$color-text-shadow: $cod-grey;
