// 1.0 Font asset path.
$path-font: '../fonts';

// 1.1 Web font mixin.
// Mixin that accepts the name of the font family and the name of the font file.
@mixin font-face($family, $file) {
  @font-face {
    font-family: $family;
    src: url('#{$path-font}/#{$file}-webfont.eot');
    src: url('#{$path-font}/#{$file}-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$path-font}/#{$file}-webfont.woff') format('woff'),
    url('#{$path-font}/#{$file}-webfont.ttf') format('truetype'),
    url('#{$path-font}/#{$file}-webfont.svg') format('svg');
  }
}

// 1.2 Include fonts.
// Use the mixin we created at '1.0' to add in the name of the font family and the name of the file.
@include font-face('Lora Italic', Lora-Italic);
@include font-face('Roboto Black', Roboto-Black);
@include font-face('Roboto Medium', Roboto-Medium);
@include font-face('Roboto Light', Roboto-Light);

// 1.3 Font fallbacks.
// Font fallbacks in case something unfortunate happens to the fonts used primarily
// on the site. If fallbacks keep failing, the next font listed is
// checked with basic sans/sans-serif as the final fallback.
$font-sans-serif-fallback: Arial, Helvetica, sans-serif;
$font-serif-fallback: "Times New Roman", Times, serif;

// 1.4 Font families.
// Store the fonts in a variable along with the fallback fonts.
$font-lora-italic: 'Lora Italic', $font-serif-fallback;
$font-roboto-black: 'Roboto Black', $font-sans-serif-fallback;
$font-roboto-medium: 'Roboto medium', $font-sans-serif-fallback;
$font-roboto-light: 'Roboto light', $font-sans-serif-fallback;

// 2.0 Element styles.
h1,
ul {
  color: $white;
  font-family: $font-roboto-black;
}

h2,
h4 {
  color: $white;
  font-family: $font-lora-italic;
  font-style: italic;
}

p {
  color: $white;
  font-family: $font-roboto-light;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
