// Z-indexes map, gathering all Z layers of the application the order
// of the elements in this list determines there z-index.
// To use, "z-index: z('navbar'); in element style".
$z-indexes: (
  navbar, // 1
);

// Get a z-index value from a layer name
@function z($element, $list: '') {
  @if $list == '' {
    $list: $z-indexes;
  }

  $z-index: index($list, $element);

  @if $z-index {
    @return $z-index;
  }

  @warn 'There is no item "#{$element}" in this list; choose one of: #{$list}';
  @return null;
}
