/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.heading-link {
  font-size: 12px;
  margin-left: 10px;
  color: #ff5443;
}

.heading-link:hover {
  color: #ff8276;
}

.article__title {
  margin: 10px 0px;
}

.article__title a {
  color: #000;
}

.article__title a:hover {
  color: gray;
}

.article__category {
  margin-right: 10px;
  color: #4591b8;
  font-weight: 700;
  text-transform: uppercase;
}

.article__category:hover {
  color: #7cb2ce;
}

.article__time {
  color: #999;
  font-size: 12px;
}

.article__author {
  color: #999;
}

.article__author span {
  color: #ff5443;
  font-weight: 700;
}

.article__excerpt {
  margin-top: 10px;
  color: #999;
}

.article__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/********************
 *  List styles
 ********************/
.article__list__title {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.article__list {
  margin: 0 0 25px 15px;
}

.article__list__item {
  list-style: square;
  margin-bottom: 8px;
}

.article__list__item a {
  color: #000;
  font-size: 15px;
  font-weight: 700;
}

.article__list__item a:hover {
  color: gray;
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia-webfont.eot");
  src: url("../fonts/Georgia-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia-webfont.woff") format("woff"), url("../fonts/Georgia-webfont.ttf") format("truetype"), url("../fonts/Georgia-webfont.svg") format("svg");
}

body {
  color: #000;
  font-family: "Georgia", "Times New Roman", Times, serif;
  line-height: 1.3;
}

h2 {
  font-size: 34px;
  font-weight: 700;
}

h3 {
  font-size: 26px;
  font-weight: 700;
}

h4 {
  font-size: 12px;
}

p,
ul,
li {
  font-size: 14px;
}

a {
  text-decoration: none;
}

/*  ==========================================================================
  1. Column Layout
    ========================================================================== */
.nav__main__wrapper {
  width: auto;
  max-width: 1280px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.nav__main__wrapper::after {
  content: '';
  display: table;
  clear: both;
}

.nav__main__wrapper .nav__main__date {
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: left;
}

.nav__main__wrapper .nav__main__date::after {
  content: '';
  display: table;
  clear: both;
}

.nav__main__wrapper .nav__main__date:last-child {
  margin-right: 0%;
}

@media only screen and (max-width: 839px) {
  .nav__main__wrapper .nav__main__date {
    float: left;
    clear: none;
    text-align: inherit;
    width: -3%;
    margin-left: 0%;
    margin-right: 3%;
    display: none;
  }
  .nav__main__wrapper .nav__main__date::after {
    content: '';
    display: table;
    clear: both;
  }
  .nav__main__wrapper .nav__main__date:last-child {
    margin-right: 0%;
  }
}

.nav__main__wrapper .nav__main__list {
  float: left;
  clear: none;
  text-align: inherit;
  width: 58.8%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: center;
}

.nav__main__wrapper .nav__main__list::after {
  content: '';
  display: table;
  clear: both;
}

.nav__main__wrapper .nav__main__list:last-child {
  margin-right: 0%;
}

@media only screen and (max-width: 839px) {
  .nav__main__wrapper .nav__main__list {
    float: left;
    clear: none;
    text-align: inherit;
    width: 79.4%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .nav__main__wrapper .nav__main__list::after {
    content: '';
    display: table;
    clear: both;
  }
  .nav__main__wrapper .nav__main__list:last-child {
    margin-right: 0%;
  }
}

.nav__main__wrapper .nav__main__weather {
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: right;
}

.nav__main__wrapper .nav__main__weather::after {
  content: '';
  display: table;
  clear: both;
}

.nav__main__wrapper .nav__main__weather:last-child {
  margin-right: 0%;
}

/*  ==========================================================================
  2. Styles
    ========================================================================== */
.nav__main {
  position: fixed;
  width: 100%;
  margin-top: 80px;
  padding: 15px 0px;
  z-index: 1;
  border-bottom: 1px solid #999;
  background: #e6e6e6;
  color: #666;
  text-transform: uppercase;
  font-family: 'Arial';
}

.nav__main__date {
  padding-top: 3px;
  font-size: 11px;
}

.nav__main__list li {
  display: inline-block;
  margin-right: 8px;
  font-size: 11px;
}

.nav__main__list li:last-child {
  margin-right: 0px;
}

.nav__main__list a {
  padding-bottom: 14px;
  color: #666;
}

.nav__main__list a:hover, .nav__main__list a:active, .nav__main__list afocus {
  border-bottom: 4px solid #000;
}

@media only screen and (max-width: 1023px) {
  .nav__main__list .hide-item__two {
    display: none;
  }
}

@media only screen and (max-width: 909px) {
  .nav__main__list .hide-item__one {
    display: none;
  }
}

.nav__main__weather {
  font-size: 15px;
  font-weight: 700;
}

.nav__main__weather::before {
  content: '';
  position: absolute;
  top: 3px;
  right: 70px;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml;charset=utf-8,\a<svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 46.6 46.6'>\a   <g>\a     <path fill='#666' d='M25.615,39.658H6.442C2.89,39.658,0,36.769,0,33.217c0-3.502,2.81-6.361,6.294-6.44c1.24-4.303,5.16-7.274,9.67-7.274\a       c3.738,0,7.104,2.026,8.869,5.311c0.279-0.031,0.534-0.046,0.781-0.046c4.105,0,7.446,3.339,7.446,7.443\a       C33.061,36.317,29.721,39.658,25.615,39.658z M6.442,27.776c-3,0-5.442,2.441-5.442,5.441c0,3,2.441,5.44,5.442,5.44h19.173\a       c3.554,0,6.446-2.892,6.446-6.446c0-3.553-2.892-6.443-6.446-6.443c-0.299,0-0.614,0.026-0.991,0.083\a       c-0.215,0.031-0.426-0.078-0.522-0.273c-1.544-3.129-4.663-5.074-8.138-5.074c-4.184,0-7.804,2.839-8.804,6.904\a       c-0.056,0.228-0.259,0.369-0.498,0.38L6.442,27.776z'/>\a     <path fill='#666' d='M25.615,39.658c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5c3.554,0,6.446-2.892,6.446-6.446\a       c0-3.553-2.892-6.443-6.446-6.443c-1.863,0-3.633,0.805-4.857,2.208c-0.182,0.208-0.497,0.229-0.706,0.048\a       c-0.208-0.182-0.229-0.498-0.048-0.706c1.414-1.621,3.459-2.55,5.611-2.55c4.105,0,7.446,3.339,7.446,7.443\a       C33.061,36.317,29.721,39.658,25.615,39.658z'/>\a     <g>\a       <path fill='#666' d='M36.044,29.809c-0.128,0-0.256-0.049-0.354-0.147c-0.195-0.196-0.194-0.513,0.001-0.708\a         c1.491-1.484,2.312-3.46,2.312-5.564c0-4.33-3.522-7.853-7.853-7.853c-2.278,0-4.442,0.989-5.937,2.713\a         c-0.182,0.208-0.497,0.231-0.706,0.05c-0.208-0.181-0.231-0.497-0.05-0.706c1.685-1.943,4.125-3.058,6.693-3.058\a         c4.881,0,8.853,3.971,8.853,8.853c0,2.372-0.925,4.6-2.605,6.273C36.299,29.761,36.171,29.809,36.044,29.809z'/>\a       <g>\a         <path fill='#666' d='M30.15,11.695c-0.276,0-0.5-0.224-0.5-0.5V7.442c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5v3.753\a           C30.65,11.471,30.426,11.695,30.15,11.695z'/>\a       </g>\a       <g>\a         <path fill='#666' d='M46.1,23.89h-3.753c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5H46.1c0.276,0,0.5,0.224,0.5,0.5\a           S46.376,23.89,46.1,23.89z'/>\a       </g>\a       <g>\a         <path fill='#666' d='M38.774,15.266c-0.128,0-0.256-0.049-0.354-0.146c-0.195-0.195-0.195-0.512,0-0.707l2.654-2.653\a           c0.195-0.195,0.512-0.195,0.707,0s0.195,0.512,0,0.707l-2.654,2.653C39.03,15.217,38.902,15.266,38.774,15.266z'/>\a       </g>\a       <g>\a         <path fill='#666' d='M41.427,35.168c-0.128,0-0.256-0.049-0.354-0.146L38.42,32.37c-0.195-0.195-0.195-0.512,0-0.707s0.512-0.195,0.707,0\a           l2.653,2.652c0.195,0.195,0.195,0.512,0,0.707C41.683,35.12,41.555,35.168,41.427,35.168z'/>\a         <path fill='#666' d='M21.524,15.266c-0.128,0-0.256-0.049-0.354-0.146l-2.652-2.653c-0.195-0.195-0.195-0.512,0-0.707s0.512-0.195,0.707,0\a           l2.652,2.653c0.195,0.195,0.195,0.512,0,0.707C21.78,15.217,21.652,15.266,21.524,15.266z'/>\a       </g>\a     </g>\a   </g>\a</svg>");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.container {
  width: auto;
  max-width: 1280px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 80px;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    max-width: 1280px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container::after {
    content: '';
    display: table;
    clear: both;
  }
}

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  background: #000;
  z-index: 1;
}

.ad__banner {
  padding-top: 200px;
}

/*  ==========================================================================
  1. Column Layout
    ========================================================================== */
.breaking__list {
  width: auto;
  max-width: 1280px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.breaking__list::after {
  content: '';
  display: table;
  clear: both;
}

.breaking__list .breaking__item {
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}

.breaking__list .breaking__item::after {
  content: '';
  display: table;
  clear: both;
}

.breaking__list .breaking__item:last-child {
  margin-right: 0%;
}

@media only screen and (max-width: 767px) {
  .breaking__list .breaking__item {
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .breaking__list .breaking__item::after {
    content: '';
    display: table;
    clear: both;
  }
  .breaking__list .breaking__item:nth-child(n) {
    margin-right: 3%;
    float: left;
    clear: none;
  }
  .breaking__list .breaking__item:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
  .breaking__list .breaking__item:nth-child(2n + 1) {
    clear: both;
  }
}

@media only screen and (max-width: 479px) {
  .breaking__list .breaking__item {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .breaking__list .breaking__item:first-child {
    margin-left: auto;
  }
  .breaking__list .breaking__item:last-child {
    margin-right: auto;
  }
}

/*  ==========================================================================
  2. Styles
    ========================================================================== */
.breaking {
  border-top: 1px solid #ccc;
}

.breaking__header {
  position: relative;
  padding-top: 20px;
}

.breaking__header::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 8px;
  width: 120px;
  display: block;
  background-color: #000;
}

.breaking__item {
  margin: 10px 0;
}

.breaking__item__title {
  margin-top: 5px;
}

.breaking__item__title a {
  color: #000;
}

.breaking__item__title a:hover {
  color: gray;
}

/*  ==========================================================================
  1. Column Layout
    ========================================================================== */
.topic-columns {
  width: auto;
  max-width: 1280px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 30px;
}

.topic-columns::after {
  content: '';
  display: table;
  clear: both;
}

.topic-columns--col-04 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66667%;
  margin-left: 0%;
  margin-right: 3%;
}

.topic-columns--col-04::after {
  content: '';
  display: table;
  clear: both;
}

.topic-columns--col-04:last-child {
  margin-right: 0%;
}

@media only screen and (max-width: 909px) {
  .topic-columns--col-04 {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .topic-columns--col-04:first-child {
    margin-left: auto;
  }
  .topic-columns--col-04:last-child {
    margin-right: auto;
  }
}

.topic-columns--col-04--nested {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}

.topic-columns--col-04--nested::after {
  content: '';
  display: table;
  clear: both;
}

.topic-columns--col-04--nested:last-child {
  margin-right: 0%;
}

@media only screen and (max-width: 767px) {
  .topic-columns--col-04--nested {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .topic-columns--col-04--nested:first-child {
    margin-left: auto;
  }
  .topic-columns--col-04--nested:last-child {
    margin-right: auto;
  }
}

.topic-columns--col-02 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%;
}

.topic-columns--col-02::after {
  content: '';
  display: table;
  clear: both;
}

.topic-columns--col-02:last-child {
  margin-right: 0%;
}

@media only screen and (max-width: 909px) {
  .topic-columns--col-02 {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .topic-columns--col-02:first-child {
    margin-left: auto;
  }
  .topic-columns--col-02:last-child {
    margin-right: auto;
  }
}

.topic-columns--col-02--nested {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}

.topic-columns--col-02--nested::after {
  content: '';
  display: table;
  clear: both;
}

.topic-columns--col-02--nested:last-child {
  margin-right: 0%;
}

@media only screen and (max-width: 767px) {
  .topic-columns--col-02--nested {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .topic-columns--col-02--nested:first-child {
    margin-left: auto;
  }
  .topic-columns--col-02--nested:last-child {
    margin-right: auto;
  }
}

/*  ==========================================================================
  2. Styles - Main Topic
    ========================================================================== */
@media only screen and (max-width: 767px) {
  .topic-columns--col-02--nested {
    margin-bottom: 15px;
  }
}

.topic {
  margin: 30px 0;
}

.topic__header {
  position: relative;
  padding-top: 10px;
}

.topic__header::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 8px;
  width: 120px;
  display: block;
  background-color: #000;
}

.topic__header__title {
  margin-bottom: 15px;
}

/*  ==========================================================================
  1. Column Layout
    ========================================================================== */
.top-story {
  width: auto;
  max-width: 1280px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.top-story::after {
  content: '';
  display: table;
  clear: both;
}

.top-story .article__image {
  float: left;
  clear: none;
  text-align: inherit;
  width: 38.2%;
  margin-left: 0%;
  margin-right: 3%;
}

.top-story .article__image::after {
  content: '';
  display: table;
  clear: both;
}

.top-story .article__image:last-child {
  margin-right: 0%;
}

@media only screen and (max-width: 767px) {
  .top-story .article__image {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .top-story .article__image:first-child {
    margin-left: auto;
  }
  .top-story .article__image:last-child {
    margin-right: auto;
  }
}

.top-story__details {
  float: left;
  clear: none;
  text-align: inherit;
  width: 58.8%;
  margin-left: 0%;
  margin-right: 3%;
}

.top-story__details::after {
  content: '';
  display: table;
  clear: both;
}

.top-story__details:last-child {
  margin-right: 0%;
}

@media only screen and (max-width: 767px) {
  .top-story__details {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .top-story__details:first-child {
    margin-left: auto;
  }
  .top-story__details:last-child {
    margin-right: auto;
  }
}

/*  ==========================================================================
  2. Styles
    ========================================================================== */
.top-story {
  width: 100%;
}

.top-story__details {
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
